* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --yellow: #fed116;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.on {
    background-color: #23242D;
}

h1 {
    font-size: 2.6em;
    color: var(--yellow);
}

button {
    color: white;
    padding: 5px 0px;
    background-color: transparent;
    border: .8px solid var(--yellow);
    border-radius: 50px ;
    width: 150px;
    font-size: 1em;
    letter-spacing: 1.2px;
}

button:hover {
    background-color: var(--yellow);
}